@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  a {
    text-decoration: none;
  }
}

li {
  list-style: none;
}

li:hover {
  cursor: pointer;
  color: var(--soft-red);
}
/* variables */
:root {
  /* primary color */
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  /* natrual color */
  --off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
}

/* SIDE-BAR */
.open-sidebar {
  display: block !important;
  background-color: var(--off-white);
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 70%;
  animation: opening 1s;
  
  & .close-menu-img {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  & .menu-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 3;
    padding-left: 1.5rem;
  }
}

.close-sidebar {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  height: 100%;
  width: 70%;
  animation: closing 1s;
}

/* animations */
@keyframes opening {
  from {
    right: -100%;
  }

  to {
    right: 0;
  }
}

@keyframes closing {
  from {
    right: 0;
  }

  to {
    right: -100%;
  }
}

.menu-bg {
  display: none;
  background-color: #000000;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  opacity: 60%;
}

.menu-items {
  display: none;
}

/* END SIDE-BAR */

/* FOOTER */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #000000;
}
