@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

li {
  list-style: none;
  transition: transform .5s;
}

li:hover {
  cursor: pointer;
  transform: scale(1.15);  
  color: var(--soft-red);
}

.menu-items {
  display: none;
}

/* variables */
:root {
  /* primary color */
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  /* natrual color */
  --off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
}

/* SIDE-BAR */
.open-sidebar {
  display: block !important;
  background-color: var(--off-white);
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 70%;
  animation: opening .8s;
  z-index: 9999999;
  
  & .close-menu-img {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  & .menu-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 3;
    padding-left: 1.5rem;
  }
}

.close-sidebar {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  height: 100%;
  width: 70%;
  animation: closing .8s;
}

/* animations */
@keyframes opening {
  from {
    right: -100%;
  }

  to {
    right: 0;
  }
}

@keyframes closing {
  from {
    right: 0;
  }

  to {
    right: -100%;
  }
}

.menu-bg {
  display: none;
  background-color: #000000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 60%;
}
/* END SIDE-BAR */

/* BODY */
body {
  padding: 1.25rem;
}
/* END BODY */

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  & img:hover {
    cursor: pointer;
  }
}
/* END HEADER */

/* MAIN */
main {
  & img {
    width: 100%;
  }
}

.main-topic {
  & h1 {
    font-weight: 800;
    font-size: 2rem;
    margin-right: 3rem;
    color: var(--Very-dark-blue);
  }

  & .main-topic-paragraph {
    font-size: 15px;
    font-weight: 400;
    color: var(--Dark-grayish-blue);
  }

  & button {
    margin-top: 2rem;
    margin-bottom: 4rem;
    padding: .8rem 2rem;
    border: none;
    font-size: large;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--off-white);
    background-color: var(--soft-red);

    
  }
  
  & button:hover {
    cursor: pointer;
    background-color: var(--Very-dark-blue);
    transition: .5s ease;
  }
}

.news-section {
  color: var(--Grayish-blue);
  background-color: var(--Very-dark-blue);
  padding: 1.25rem;
  margin-bottom: 2rem;

  & h2 {
    color: var(--soft-orange);
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  & .news-item {

    & h3 {
      color: var(--off-white);
      /* margin-bottom: 1rem; */
    }

    & h3:hover {
      color: var(--soft-orange);
      cursor: pointer;
      transition: .2s ease;
    }

    & p {
      line-height: 2;
    }
  }

  & .news-item:not(:last-child) {
    border-bottom: 2px solid var(--Grayish-blue);
    margin-bottom: 1.5rem;

    & p {
      margin-bottom: 1.5rem;
    }
  }
}

.article-items {
  display: flex;
  align-items: start;
  column-gap: 1rem;
  margin-bottom: 1rem;

  & p {
    font-size: 15px;
    font-weight: 400;
    color: var(--Dark-grayish-blue);
  }

  & h2 {
    color: var(--Very-dark-blue);
    font-weight: 700;
    opacity: 40%;
  }

  & h3 {
    color: var(--Very-dark-blue);
    font-weight: 700;
  }

  & h3:hover {
    cursor: pointer;
    color: var(--soft-red);
    transition: .2s ease;
  }

  & img {
    width: 100px;
  }
}

/* end MAIN */

/* FOOTER */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #000000;
}
